<html>
	<head>Hi <%= userName %>,</head>
    <body>
    	<p>Thank you for registering for an account with us.</p>
    	<p>There’s just one more step required to confirm your registration.</p>
    	<p>Simply click this link to confirm your registration.</p>
    	<%= accountActivationLink %><br>
    	<p>Please note, your registration is not final until you click the link above to confirm your email address.</p>
		<br/><p>Thanks,</p>
    	<p><%= sails.config.hub.platformName %> Team</p>
    </body>
</html>


