  <div class="row" ng-controller="forgotPasswordController">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="box-login">
               <form ng-submit="changePassword()" name="changePasswordForm" ng-init="validateEmailAndToken()">
                <fieldset>
                    <legend>Change password to your account</legend>
                     <div class="form-group form-actions">
                                <span class="input-icon">
                                    <input type="password" class="form-control password" name="password" ng-model="password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/" placeholder="Password" required>
                                    <i class="fa fa-lock"></i>
                                    </span>
                                    	<span class="help-block errmsg-font" ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty">required</span>
				<span class="help-block errmsg-font" ng-show="!changePasswordForm.password.$error.required && (changePasswordForm.password.$error.minlength || changePasswordForm.password.$error.maxlength) && changePasswordForm.password.$dirty">Passwords must be between 4 and 20 characters.</span>
				<span class="help-block errmsg-font" ng-show="!changePasswordForm.password.$error.required && !changePasswordForm.password.$error.minlength && !changePasswordForm.password.$error.maxlength && changePasswordForm.password.$error.pattern && changePasswordForm.password.$dirty">Must contain one lower, uppercase letter &amp; a number, and one special character.</span>
                    </div>
                    <div class="form-group form-actions">
                                <span class="input-icon">
                                    <input type="password" class="form-control password" ng-model="passwordConfirm" data-match="password" name="password_c" placeholder="Confirm Password" required>
                                    <i class="fa fa-lock"></i>
                                </span>
                                <span class="help-block errmsg-font" ng-show="changePasswordForm.password_c.$error.match && changePasswordForm.password_c.$dirty">Fields do not match!</span>
				<span class="help-block errmsg-font" ng-show="changePasswordForm.password_c.$invalid.match">Fields need data!</span>
                    </div>
                    <div class="form-actions">  
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="!changePasswordForm.$valid">
                            Submit <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                  
                </fieldset>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase">AYNY</span>. <span>All rights reserved</span>
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: LOGIN BOX -->
        </div>
</div>       			