<div ng-controller='forgotPasswordController'>
		<!-- start: FORGOT -->
		<div class="row">
			<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
				<!-- start: FORGOT BOX -->
				<div class="box-forgot">
					<form class="form-forgot" ng-submit="forgotPassword()" name="changePasswordForm">
						<fieldset>
							<legend> Forget Password ?</legend>
							<p>Enter your e-mail address below to reset your password.</p>
							<div class="form-group">
								<span class="input-icon">
									<input type="email"placeholder="Please Enter Email" class="form-control" ng-model="email" placeholder="Email"  required>
									<i class="fa fa-envelope-o"></i> </span>
							</div>
							<div class="form-actions">
								<a class="btn btn-primary btn-o" href="#signin">
									<i class="fa fa-chevron-circle-left"></i> Log-In
								</a>
								<button type="submit" class="btn btn-primary pull-right" type="submit" ng-disabled="!changePasswordForm.$valid">
									Submit <i class="fa fa-arrow-circle-right"></i>
								</button>
								<span class="help-block errmsg-font" ng-show="changePasswordForm.email.$error.required && changePasswordForm.email.$dirty">required</span>
									<span class="help-block errmsg-font" ng-show="!changePasswordForm.email.$error.required && changePasswordForm.email.$error.email && changePasswordForm.email.$dirty">invalid email</span>
							</div>
						</fieldset>
					</form>
					<!-- start: COPYRIGHT -->
					<div class="copyright">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase">AYNY</span>. <span>All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: FORGOT BOX -->
			</div>
		</div>
</div>